[Unit]
Wants=network-online.target
After=network-online.target

[Service]
ExecStart=/home/administrator/venv/bin/python -u /home/administrator/ip.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target